<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600&display=swap" rel="stylesheet">

</head>
<body>
	<div class = 'top'>
		ExcelR Group 1 Project
	<div class = 'date'>
		{{ today }}
	</div>
	<h1>
		<div class = 'heading'>
			Amazon Reviews Classifier
		</div>
	</h1>
	<br>
	<div align = 'center'>
		<a href='{{ url_for('home') }}' class="btn-grp">Home</a>
		<a href='{{ url_for('result') }}' class="btn-grp">Predict Latest Reviews</a>
		<a href='{{ url_for('input_text') }}' class="btn-grp">Input Review</a>
		<a href='{{ url_for('input_url') }}' class="btn-grp">Input Product URL</a>
		<a href='{{ url_for('scraper') }}' class="btn-grp">Update Data</a>
	</div>
	<h3>
		<div class = 'details'>
			Product: Prestige PIC 20 1200 Watt Induction Cooktop
		</div>
	</h3>
	<br><br><br>
	<div class = 'details'>
		NOTE: Dataset updates every Friday at 3pm<br>Manually updating the data will take 5-10 minutes
	</div>
</body>
</html>
